* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Syne', sans-serif;
}

:root {
    --vermelho-800: #A40602;
    --vermelho-500: #F95F5A;
    --preto-800: #262626;
    --cinza-500: #A7A7A7;
}

body {
    position: relative;
    background-color: var(--vermelho-800);
    height: 100dvh;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
}

.container-left {
    flex: 1;
    padding: 2rem;
}

.container-left h1 {
    width: 200px;
    margin: auto;
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
}

.container-left .card-car {
    position: absolute;
    left: 60px;
    width: 280px;
    height: 280px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    border: 1px solid var(--vermelho-800);
}

.card-car img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.create-account {
    flex: 5;
    background: #fefefe;
    height: 100%;
    padding: 2rem;
    border-top-left-radius: 42px;
    border-bottom-left-radius: 42px;

    justify-content: center;
}

.create-account-login {
   max-width: 600px;
   margin: auto;
}

.create-account-login > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-account-login > div > h1 {
    font-size: 2rem;
    font-weight: 700;
}

.toogle {
    width: 64px;
    background-color: #F2F2F2;
    padding: 4px;
    border-radius: 100px;
    border: 2px solid var(--cinza-500);
    display: flex;
    align-items: flex-start;
    position: relative;
    transition: all ease .5s;
}

.toogle .toogle-bullet {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--vermelho-800);
    transition: all ease .5s;
}

.toogle #chkToggle  {
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
    transition: all ease .5s;
}

.toogle:has(#chkToggle:checked)  {
    background-color: var(--vermelho-800);
    justify-content: flex-end;
    transition: all ease .5s;
}

.toogle:has(#chkToggle:checked) .toogle-bullet  {
    background-color: #F2F2F2;
}

form {
    margin-top: 54px;
}

form fieldset {
    position: relative;
    border: 0;
    width: 100%;
}

form fieldset label {
    position: absolute;
    background-color: #fff;
    top: -10px;
    left: 10px;
    padding-inline: .25rem;
}

form > fieldset, form .names {
    margin-bottom: 42px;
}

form input {
    width: 100%;
    border: 1px solid var(--cinza-500);
    border-radius: 12px;
    padding: 0.75rem;
    height: 58px;

    transition: border-color ease .3s;
}

form input:hover, form input:focus {
    border-color: var(--preto-800);
}

form .names {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
}

form .names input {
    flex: 1;
}

form #btnCreateAccount {
    border: 0;
    width: 100%;
    border-radius: 12px;
    height: 57px;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    background-color: var(--vermelho-800);
    box-shadow: 0 8px 8px var(--vermelho-500);

    margin-bottom: 32px;
    transition: all ease .3s;
    cursor: pointer;
}

form #btnCreateAccount:hover  {
    background-color: #A40602;
    box-shadow: none;
}

.divider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.divider span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 18px;
}

.divider span::before, .divider span::after {
    content: '';
    display: block;
    width: 100%;
    border: 1px solid var(--preto-800);
}

form .orderTypeSign {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnSigUpDesktop, .btnSigUpLanguage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 1rem;
    border-radius: 12px;
    font-weight: 600;
    background-color: #fff;
    
    transition: all ease .3s;
    cursor: pointer;
}

.btnSigUpDesktop {
    border: 1px solid var(--vermelho-500);
}

.btnSigUpDesktop:hover {
    border: 1px solid var(--vermelho-500);
    background: var(--vermelho-800);
    color: #fff;
}

.btnSigUpLanguage {
    border: 1px solid var(--cinza-500);
}

.btnSigUpLanguage:hover {
    border: 1px solid var(--cinza-500);
    background-color: var(--preto-800);
    color: #fff;
}

.sombra {
    position: absolute;
    padding: 4rem;
    background-color: var(--vermelho-800);
    opacity: 0.3;
    z-index: 2;
    left: 150px;
    top: 0px;
    border-radius: 50px;
    height: 30%;
    filter: blur(40px);
}

.sombra:nth-child(2) {
    top: 70%;
}