* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Syne', sans-serif;
}

:root {
    --vermelho-800: #A40602;
    --vermelho-500: #F95F5A;
    --preto-800: #262626;
    --cinza-500: #A7A7A7;
}

body {
    background-color: var(--vermelho-800);
    height: 100dvh;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
}

.container-left {
    flex: 1;
    padding: 2rem;
}

.container-left h1 {
    width: 200px;
    margin: auto;
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
}

.container-left .card-car {
    position: absolute;
    left: 60px;
    width: 280px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    overflow: hidden;
}

.card-car img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.create-account {
    flex: 5;
    background: #fefefe;
    height: 100%;
    padding: 2rem;
    border-top-left-radius: 42px;
    border-bottom-left-radius: 42px;

    justify-content: center;
}

.create-account-login {
   max-width: 600px;
   margin: auto;
}

.create-account-login > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-account-login > div > h1 {
    font-size: 2rem;
    font-weight: 700;
}

.toogle {
    width: 64px;
    background-color: #F2F2F2;
    padding: 4px;
    border-radius: 100px;
    border: 2px solid var(--cinza-500);
    display: flex;
    align-items: flex-start;
    position: relative;
    transition: all ease .5s;
}

.toogle .toogle-bullet {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--vermelho-800);
    transition: all ease .5s;
}

.toogle #chkToggle  {
    all: unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
    transition: all ease .5s;
}

.toogle:has(#chkToggle:checked)  {
    background-color: var(--vermelho-800);
    justify-content: flex-end;
    transition: all ease .5s;
}

.toogle:has(#chkToggle:checked) .toogle-bullet  {
    background-color: #F2F2F2;
}
