* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0Af; 
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
    --gradient-background: #D586E0 0%, #91A1FA 98.93%;
    --gradient-content: #C7C9CC 0%, #3D3D3D 100%;
}


body {
    width: 100%;
    background-color: var(--background-primary);
    background-image: url("./assets/background.png");
    margin: auto;
    display: grid;
    max-width: 1098px;
    height: 100vh;
}

.container {
    max-height: 412px;
    display: flex;
    align-items: center;
    gap: 108px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Sora', sans-serif;
    color: var(--content-primary);
    margin-bottom: 90px;
}

.details  span, .titulo span {
    background: linear-gradient(90deg, var(--gradient-content));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    text-transform: uppercase;
    font-family: overline;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 150%;
}

.details h2, .titulo h2 {
    font-size: 72px;
    font-family: 'Sora', sans-serif;
    color: var(--content-primary);
    text-transform: uppercase;
    line-height: 130%;
}

.explanation {
    margin-top: 38px;
}

.explanation > *, .action > *, .results > * {
    margin-bottom: 36px;
}

.explanation > *:last-child, .action > *:last-child, .results > *:last-child {
    margin-bottom: 0;
}

.explanation > div > p {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: var(--content-brand);
}


.explanation > div > p {
    display: flex;
    align-items: center;
    gap: 8px;
}
.explanation > div > p svg {
    width: 20px;
    height: 20px;
}

.explanation > div > p svg path {
    width: 20px;
    height: 20px;
    stroke: var(--content-brand);
}

.explanation > div > p:nth-child(2) {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 12px;
    line-height: 150%;
    color: var(--content-secondary);
    margin-left: 28px;
}

.action {
    padding-block: 34px;
    height: 100%;
}

.action > div > h3 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
    color: var(--content-primary);
    text-transform: uppercase;
}

.action > div > p {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
    font-weight: medium;
    line-height: 150%;
    color: var(--content-secondary);
}

.numbers-select {
    display: flex;
    align-items: center;
    gap: 12px;
}

.numbers-select > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers-select > div > span {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
    color: var(--content-primary);
    text-transform: uppercase;
}

.numbers-select > div > div > input {
    background: var(--background-secondary);
    font-family: 'Sora', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 130%;
    color: #fff;
    width: 88px;
    height: 56px;
    padding: 4px 8px;
    border: 1px solid transparent;
    border-radius: 8px;
    text-align: center;
    outline: none;
}

.txt-number {
    position: relative;
    border-radius: 8px;
    --gradient-border: transparent;
}

.txt-number:hover {
    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;   
}

.not-repeat-numbers {
    margin-top: 16px; 
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.not-repeat-numbers > label {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 12px;
    color: var(--content-primary);
}

.toogle {
    position: relative;
    width: 30px;
    height: 20px;
    background-color: var(--content-tertiary);
    padding: 3px;
    border-radius: 16px;
    transition: all ease 2s;
}

.toogle::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--content-primary);
}

.toogle > input {
    position: absolute;
    inset: 0;
    visibility: hidden;
}

:has(input[type="checkbox"]:checked) .toogle::after {
    right: 2px;
}

:has(input[type="checkbox"]:checked) .toogle {
    background: linear-gradient(90deg,var(--gradient-background));
}

.btn-sort-number, .btn-resort-number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--background-tertiary);
    width: 482px;
    max-width: 100%;
    padding: 20px;
    font-family: 'Roboto flex', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 150%;
    color: #fff;

    border: none;
    border-radius: 8px;
    --gradient-border: transparent;
    cursor: pointer;
}

.btn-sort-number:hover, 
.btn-resort-number:hover {
    --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
}

:has(.btn-resort-number:hover) #rotate-icon {
    animation: rotateIcon linear 2s forwards;
}

.btn-sort-number::before,
.txt-number::before,
.btn-resort-number::before {
    content: " ";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(
        90deg,
        var(--gradient-border)
    );
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.6px;   
}

@media (max-width: 1024px) {
    .container {
        max-height: 100%;
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 0px;
    }
    .titulo {
        display: block !important;
    }
    .logo {
        margin-bottom: 48px;
    }

    body {
        padding: 2rem;
        height: 100%;
    }

    .details span, .details h2 {
        display: none;
    }
}

.titulo {
    display: none;
}

.hidden {
    display: none;
}


.results h3 {
    font-weight: bold;
    font-size: 24px;
    font-family: "Roboto Flex";
    text-transform: uppercase;
    text-align: center;
    line-height: 150%;
    color: var(--content-primary);
}

.random-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.random-number {
    padding: 22px 18px;
    border-radius: 28px;
    color: var(--content-brand);

    font-weight: bold;
    font-family: "Roboto Mono";
    font-size: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    
    animation: rotate linear 2s forwards;
}

@keyframes rotate {
    0% {
        color: var(--color-inverse);
        background-color: var(--content-brand);
        transform: scale(0) rotate(360deg);
    }
    80% {
        color: var(--color-inverse);
        background-color: var(--content-brand);
    }
}

@keyframes rotateIcon {
    0% {
        transform: rotate(-360deg);
    }
}

#backActions {
    background-color: var(--background-tertiary);
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto flex', sans-serif;
    color: #fff;
    cursor: pointer;
}