/* RESET DE CSS */
/* Para todos os elementos */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Responsividade das imagens */
img {
    max-width: 100%;
    display: block;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Mohave', sans-serif; 
}

html {
    background-color: #060608;
    font-size: 62.5%;
}

.container {
    width: 100%;
    max-width: 124.6rem;
    padding-inline: .8rem;
    margin: 0 auto;
}

header {
    position: sticky; /* Após dar scroll ele fica fixo na tela */ 
    top: 0;
    z-index: 999;
    width: 100%;
    height: 7.2rem;
    display: flex;
    background: rgba(0, 4, 7, 0.90);
    backdrop-filter: blur(4px);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 4.7rem;
}

header nav a {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 150%;
    transition: all .3s ease;
}

header nav a:hover {
    color: #F55827;
}

header button {
    padding: .95rem 2.4rem;
    border-radius: 3.2rem;
    border: .2rem solid var(--gray-dark-05, #2F2F3B);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    transition: all .3s ease;
}

header button:hover {
    background: #fff;
    color: #101014;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.3);
}

.s-hero .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.s-hero {
    position: relative;
    width: 100%;
    height: 80rem;
    background: url('../img/bg.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;

    padding-top: 11.2rem;
    padding-bottom: 14.3rem;
}

.s-hero::after {
    content: "";
    width: 100%;
    background: linear-gradient(180deg, #060608 0%, rgba(0, 4, 7, 0.00) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 21.6rem;
    transform: rotate(180deg);
}

.s-hero .left {
    width: 100%;
    max-width: 62.2rem;
    animation: fadeLeft 1s forwards;
}

.s-hero .left .platform {
    display: flex;
    margin-bottom: 2.4rem;
}

.s-hero .left .platform span {
    color: #C0C0CC;
    font-size: 1.2rem;
    line-height: 150%;
    background-color: #1B1B21;
    padding: 0.6rem 1.2rem;
    border-radius: .4rem 0 0 .4rem;
}

.s-hero .left .platform strong {
    border-radius: 0 .4rem .4rem 0;
    background-color: #25252B;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    line-height: 150%;
    font-weight: 500;
}

.s-hero .left h1 {
    font-size: 5.6rem;
    font-family: Mohave;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: .8rem;
}

.s-hero .left p {
    font-size: 1.8rem;
    line-height: 150%;
    margin-bottom: 4.8rem; 
}

.s-hero .left .value {
    margin-bottom: 7.2rem;
}

.s-hero .left .value h3 {
    font-size: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

.s-hero .left .value .btns {
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.s-hero .left .value .btns .btn-cart {
    border-radius: 3.2rem;
    background: #F55827;
    padding: 1.6rem 4rem;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    transition: all .3s ease;
}

.s-hero .left .value .btns .btn-cart:hover {
    background: #cf3302;
    color: #fff;
    box-shadow: 0px 0px 0px 3px rgba(245, 88, 39, 0.3);
}

.s-hero .left .value .btns .btn-favorite {
    width: 5.6rem;
    height: 5.6rem;
    border: 2px solid #2f2f38;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .3s ease;
}

.s-hero .left .value .btns .btn-favorite:hover {
    background: #fff;
    color: #101014;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.3);
}

.s-hero .left .value .btns .btn-favorite:hover  img {
    filter: invert(1);
}

.s-hero .left ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.s-hero .left ul li {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    color: #F2F2FF;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
}

.s-hero .right {
    width: 100%;
    max-width: 9.5rem;
    text-align: right;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1.6rem;

    margin-top: 4.3rem;
    animation: fadeRight 1s forwards;
}

.s-hero .right .square {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 150%;

    border-radius: .6rem;
    background: #f09104;
    display: block;
    width: 3.2rem;
    height: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.s-hero .right p {
    color: #E1E1E1;

    text-align: right;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 150%;
}

.s-video {
    position: relative;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 6.4rem;
    overflow: hidden;
}

.s-video:before {
    content: "";
    width: 33.4rem;
    height: 34.4rem;
    background: linear-gradient(270deg, #060608 -3.29%, rgba(6, 6, 8, 0.00) 64.25%);
    position: absolute;
    top: 8.9rem;
    right: 0;
    z-index: 9;
}

.s-video .top {
   display: flex;
   align-items: center;
   justify-content: space-between; 
   margin-bottom: 3.2rem;
}

.s-video .top .swiper-pagination {
    position: relative;
    width: auto;
    bottom: 0;
}

.s-video .top .swiper-pagination-bullet {
    width: .6rem;
    height: .6rem;
    border-radius: 0;
    background-color: #2F2F3B;
    opacity: 1;
}

.s-video .top .swiper-pagination-bullet-active {
    background: #fff;
}

.s-video .top h2 {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.s-video .card-video {
    display: block;
    width: 100%;
    max-width: 39.1rem;
}

.s-video .card-video span {
    color: #C0C0CC;
    font-size: 1.4rem;
    line-height: 150%;
    font-weight: 500;
}

.s-video .card-video .thumbnail {
    position: relative;
    width: 100%;
    max-width: 216rem;
    margin-bottom: 2.2rem;
}

.s-video .card-video .thumbnail .thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* padding: 0.5rem; */
}

/* DEFAULT */
.s-video .card-video .thumbnail .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .6s ease;
}

.s-video .card-video .thumbnail::before {
    content: '';
    background: url('../img/Group 25.svg') no-repeat center center;
    width: 100%;
    max-width: 39.1rem;
    height: 22.2rem;
    position: absolute;
    opacity: 0;
    transition: .3s ease;
    z-index: 100000;
}

/* ATIVO */
.s-video .card-video:hover .thumbnail .icon,
.s-video .card-video:hover .thumbnail::before {
    opacity: 1;
}

.s-video .container {
    position: relative;
}

.s-video .btn {
    position: absolute;
    width: 4rem;
    height: 4rem;

    top: 12rem;
    z-index: 10;
    transition: .1s ease;
}

.s-video .btn.btn-prev {
    left: 0;
    transform: rotate(180deg);
}

.s-video .btn.btn-next {
    right: 0;
}

.btn.btn-prev.swiper-button-disabled {
    opacity: 0;
}

.s-vilao {
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: changeBG 40s infinite linear;    
    position: relative;
}

.s-vilao::after {
    content: "";
    width: 100%;
    background: linear-gradient(180deg, #060608 0%, rgba(0, 4, 7, 0.00) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 21.6rem;
    transform: rotate(180deg);
}

.s-vilao::before {
    content: "";
    width: 100%;
    background: linear-gradient(180deg, #060608 0%, rgba(0, 4, 7, 0.00) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 21.6rem;

}

.s-vilao h2 {
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: .8rem;
    text-align: center;
}

.s-vilao p {
    color: #CECED9;
    text-align: center;
    font-size: 1.8rem;
    line-height: 150%;
    margin-bottom: 7.2rem;
}

footer {
    padding-top: 9.6rem;
    padding-bottom: 7.2rem;
    position: relative;
}

footer::before {
    content: '';
    width: 100%;
    height: 1.6rem;
    background: url('../img/Dividerdivider.svg') no-repeat center center;
    position: absolute;
    top: .8rem;
}

footer .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

footer .left {
    width: 100%;
    max-width: 66.8rem;
}

footer .left strong {
    font-family: 'Mohave', sans-serif;
    line-height: normal;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1.8rem;
}

footer .left p {
    color:#CECED9;

    font-family: Roboto Flex;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150%;
}

footer .right {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

footer .right span {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

/* Animação */

@keyframes changeBG {
    0%  { background: url('../img/bg-to-scroll/item = 01.jpg');
        background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    4%  { background: url('../img/bg-to-scroll/item = 02.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    8%  { background: url('../img/bg-to-scroll/item = 03.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    12% { background: url('../img/bg-to-scroll/item = 04.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    16% { background: url('../img/bg-to-scroll/item = 05.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    20% { background: url('../img/bg-to-scroll/item = 06.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    24% { background: url('../img/bg-to-scroll/item = 07.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    28% { background: url('../img/bg-to-scroll/item = 08.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    32% { background: url('../img/bg-to-scroll/item = 09.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    36% { background: url('../img/bg-to-scroll/item = 10.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    40% { background: url('../img/bg-to-scroll/item = 11.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    44% { background: url('../img/bg-to-scroll/item = 12.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    48% { background: url('../img/bg-to-scroll/item = 13.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    52% { background: url('../img/bg-to-scroll/item = 14.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    56% { background: url('../img/bg-to-scroll/item = 15.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    60% { background: url('../img/bg-to-scroll/item = 16.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    64% { background: url('../img/bg-to-scroll/item = 17.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    68% { background: url('../img/bg-to-scroll/item = 18.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    72% { background: url('../img/bg-to-scroll/item = 19.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    76% { background: url('../img/bg-to-scroll/item = 20.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    80% { background: url('../img/bg-to-scroll/item = 21.jpg');background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}



